<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.provider.mapper.EsSyncTaskMapper">
    <resultMap type="com.ym.provider.entity.EsSyncTask" id="EsSyncTaskMap">
        <result property="id" column="id" jdbcType="java.lang.Long"/>
        <result property="taskName" column="task_name" jdbcType="java.lang.String"/>
        <result property="syncTable" column="sync_table" jdbcType="java.lang.String"/>
        <result property="taskStatus" column="task_status" jdbcType="java.lang.Integer"/>
        <result property="taskCron" column="task_cron" jdbcType="java.lang.String"/>
        <result property="taskDesc" column="task_desc" jdbcType="java.lang.String"/>
        <result property="indexName" column="index_name" jdbcType="java.lang.String"/>
        <result property="statusFlag" column="status_flag" jdbcType="java.lang.Integer"/>
        <result property="serverCreateTime" column="server_create_time" jdbcType="java.util.Date"/>
        <result property="serverUpdateTime" column="server_update_time" jdbcType="java.util.Date"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, task_name, sync_table, task_status, task_cron, task_desc, index_name, status_flag, server_create_time, server_update_time    </sql>
</mapper>