<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.provider.mapper.EsSyncLogMapper">
    <resultMap type="com.ym.provider.entity.EsSyncLog" id="EsSyncLogMap">
        <result property="id" column="id" jdbcType="java.lang.Long"/>
        <result property="syncTime" column="sync_time" jdbcType="java.util.Date"/>
        <result property="syncTable" column="sync_table" jdbcType="java.lang.String"/>
        <result property="syncSql" column="sync_sql" jdbcType="java.lang.String"/>
        <result property="syncType" column="sync_type" jdbcType="java.lang.Integer"/>
        <result property="resultFlag" column="result_flag" jdbcType="java.lang.Integer"/>
        <result property="failLog" column="fail_log" jdbcType="java.lang.String"/>
        <result property="statusFlag" column="status_flag" jdbcType="java.lang.Integer"/>
        <result property="serverCreateTime" column="server_create_time" jdbcType="java.util.Date"/>
        <result property="serverUpdateTime" column="server_update_time" jdbcType="java.util.Date"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, sync_time, sync_table, sync_sql, sync_type, result_flag, fail_log, status_flag, server_create_time, server_update_time    </sql>
</mapper>